<!doctype html>
<html lang="<%= config.language || 'en' %>">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<base href="<%= config.root %>">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="canonical" href="<%=url_trim(url)%>">
<link rel="icon" type="image/x-icon" href="<%= url_for(theme.favicon) %>">
<% if (theme.pwa.manifest) { -%>
<link rel="manifest" href="<%= url_for('manifest.json') %>">
<% } -%>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="translucent">
<%- open_graph({ image: page.thumbnail || theme.profile.avatar }) %>
<% if (config.feed && config.feed.path) { -%>
<link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%= url_for(config.feed.path) %>">
<% } -%>
<%- theme_static('css') %>
<% if (theme.runtime.themeHash) { %><%- css('theme.' + theme.runtime.themeHash) %><% } %>
<%- js('config.' + theme.runtime.configHash) %>
<% if (theme.seo.structured_data) { %><%- structured_data(page) %><% } -%>
<% if (theme.ga) { %><%- ga(theme.ga) %><% } -%>
</head>
<body>
<is-d2a57d></is-d2a57d>
<%- theme_static('js') -%>
</body>
</html>
