<!doctype html>
<html lang="<%= config.language || 'en' %>">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<base href="<%= config.root %>">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="icon" type="image/x-icon" href="<%= url_for(theme.favicon) %>">
<% if (theme.manifest.name) {
%><link rel="manifest" href="<%= url_for('manifest.json') %>">
<% }
%><meta name="theme-color" content="<%= theme.manifest.theme_color %>">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="translucent">
<%- open_graph({ image: page.thumbnail }) %>
<% if (config.feed && config.feed.path) {
%><link rel="alternate" type="application/rss+xml" title="<%= config.title %>" href="<%= url_for(config.feed.path) %>">
<% }
%><%- load_css() %>
<%- ga() %>
<%- js('config.' + theme.hash) %>
</head>
<body>
<is-root></is-root>
<%- load_js() %>
</body>
</html>
