html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    meta(name='apple-mobile-web-app-title', content=config.author)
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='theme-color', content='#36534e')
    base(href='/')
    title= config.title
    | !{load_css('styles')}
body
  app
  | !{load_js('inline', 'polyfills', 'vendor', 'main')}
  | !{ga()}